name: Maven Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      # Run tests before building
      - name: Run Tests
        run: mvn -B test

      - name: Build with Maven & list target folder
        run: |
          mvn -B package
          ls -lh target

